{% extends "base.html" %}
{% block title %}
Dodaj aktualności
{% endblock %}
{% block content %}

<div class="add">
    {% include 'includes/messages.html'%}
    <div class="container py-5">
        <h2 class="text-center">Dodaj aktualności</h2>
        <div class="card mb-4">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'add_news' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-cener">
                        <button type="submit" class="btn btn-primary">Dodaj aktualności</button>
                    </div>
                </form>
            </div>
        <div>
    </div>
</div>
{% endblock%}