{% extends "base.html" %}
{% block title %}
Kontakt
{% endblock %}
{% block content %}
<div class="contact">
    <h2 class="text-center">Kontakt</h2>
    <div class="contact_info">
        <div class="card mb-4">
            <div class="card-body">
                <div class="text-center">
                    <h5>Nazwa firmy</h5><br>
                    ul. Lorem Ipsum 1 <br>
                    XX-XXX Lorem ipsum <br>
                    Numer telefonu: XXX XXX XXX <br>
                    Adres e-mail: <a href="mailto:s9264carrentalapp@gmail.com">s9264carrentalapp@gmail.com</a> <br>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center">Znajdziesz nas tutaj!</h4>
    <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.0170151054695!2d17.051067576104483!3d51.14503733711113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9a3ad869ab9%3A0x8f55fc440f1c1a30!2sAkademia%20Wojsk%20L%C4%85dowych%20imienia%20genera%C5%82a%20Tadeusza%20Ko%C5%9Bciuszki!5e0!3m2!1spl!2spl!4v1702946841650!5m2!1spl!2spl"
        height="400" style="border:0; width: 60%; margin-bottom: 50px; margin-top: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}