{% extends "base.html" %}
{% block title %}
Usuń typ samochodu
{% endblock %}
{% block content %}

<div class="delete">
    {% include 'includes/messages.html'%}
    <div class="container py-5">
        <h2 class="text-center">Usuń typ samochodu</h2>
        <div class="card mb-4">
            <div class="card-body">
                <div class="text-center">
                    <p>Czy napewno chcesz usunąć {{ car_type.name }}?</p>
                    <form method="post" action="{% url 'delete_car_type' car_type.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Usuń</button>
                    </form>
                    <a href="{% url 'employee_car_types' %}"><button type="submit" class="btn btn-danger">Anuluj</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}