{% extends "base.html" %}
{% block title %}
Usuń rezerwację
{% endblock %}
{% block content %}

<div class="delete">
    {% include 'includes/messages.html'%}
    <div class="container py-5">
        <h2 class="text-center">Usuń samochód</h2>
        <div class="card mb-4">
            <div class="card-body">
                <div class="text-center">
                    <p>Czy napewno chcesz usunąć rezerwację użytkownika {{reservation.user}}, który zarezerwował samochód {{reservation.car}}?</p>
                    <form method="post" action="{% url 'delete_reservation' reservation.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Usuń</button>
                    </form>
                    <a href="{% url 'employee_cars' %}"><button type="submit" class="btn btn-danger">Anuluj</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}